datasets==2.21.0
faiss==1.9.0
Flask==3.1.0
jsonlines==4.0.0
matplotlib==3.10.0
ngrok==1.4.0
nltk==3.9.1
numpy==2.2.3
openai==1.63.2
pandas==2.2.3
peft==0.10.0
pyarrow==18.1.0
Requests==2.32.3
scipy==1.15.2
sentence_transformers==3.1.1
torch==2.5.1
tqdm==4.67.1
transformers==4.48.0.dev0
trl==0.13.0
vllm==0.6.5
